 /* Bordered form */
 form {
    border: 2px solid #0000FF;
    background-color:bisque;
  }
  form { 
  
    margin: auto;
    width:450px;
    height: 300px;
    
    }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #0000FF;
    box-sizing: border-box;
  }
  
