<h1>Welcome to Admin login page</h1>
<table> 
    <a>
   
      <tr> 
      <td> Email </td> 
      <td><input type="text" name="email" placeholder="email"> </td>
    </tr>
    <tr> 
        <td> password </td> 
        <td><input type="password" name="password" placeholder="password"> </td>
    </tr>
    <b routerLink="/add1" ><input type="submit" value="login"></b>
</a>

</table>
<style> 
    input[type=submit] {
      background-color: #6495ED;
      border: double;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
  