<section class="vh-500 gradient-custom">
    <div class="container p-3 -100"> 
      
  <div class="topnav">
    <button class="btn bg-dark text-white " style="margin: 8px;" routerLink="/add1">Home</button>
    <button class="btn bg-dark text-white " style="margin: 8px;" routerLink="/addproduct">add product</button>
    <button class="btn bg-dark text-white " style="margin: 8px;" routerLink="/viewproduct">View product</button>

    
    <button class="btn bg-dark text-white"style="margin: 8px;"  routerLink="/login" >LogOut </button>
   </div>
   </div>
</section>
<h1 style="font-size: 100;">Welcome to admin page</h1>

